:root {
    --primary: #f32750;
    --bg: white;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: var(--bg);
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: rgb(1, 1, 1, 0.8);
    border-bottom: 1px solid #6b0e17;
}

.navbar .navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: #f32750;
}

.navbar .navbar-nav a {
    color: white;
    display: inline-block;
    font-size: 11pt;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: #f32750;
}

.navbar .navbar-nav a:after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
    transform: scale(0.5);
    transition: 0.2s linear;
}

.navbar .navbar-extra {
    display: flex;
}

.navbar .navbar-extra a {
    color: white;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}


/* hero sectioon */
.hero {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('image/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
    padding: 1.5rem;
    max-width: 50%;
}

.hero .content h1 {
    font-size: 30pt;
    color: white;
    text-shadow: 1px 1px 3px rgba(1, 1, 1, 3, 0.5);
}

.hero .content h1 span {
    color: rgb(158, 11, 40);
}


/* Menu sections */
.menu,
.about {
    padding: 6rem;
}

.menu .row {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    align-items: center;
}

.menu .row .menu-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: .5rem;
}

.menu .row .menu-card img {
    width: 100%;
    object-fit: cover;
    /* Mengatur agar gambar selalu memenuhi container */
}

.menu .row .menu-card .menu-desk {
    padding: 1rem 2rem;
}

/* about sections */
/* .about,
.Menu {
    padding: 8rem 7% 1.4rem;
} */

.about h2,
.menu h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.about .row {
    display: flex;
    gap: 1rem;
}

.about .row .about-img img {
    width: 100%;
    border-radius: .5rem;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    line-height: 1.6;
}


/* Ini yang baru aku tambahin
/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropdown .dropbtn {
    cursor: pointer;
    display: block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #161616;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    /* Position the dropdown below the button */
    left: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* Make links display vertically */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Styling untuk halaman tips */
.container {
    padding: 7rem 2rem;
}

.tips-content,
.resep-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: .5rem;
}

.tips-content img,
.resep-content img {
    width: 50%;
    border-radius: .5rem;
}

/* folder pengetahuan-dasar */

.pd-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.pd-content .menu-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.bm-content .menu-card,
.pda-content .menu-card {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 2rem 0;
}

.bm-content .menu-card img,
.pda-content .menu-card img {
    border-radius: .5rem;
    width: 200px;
}

/*media queris*/

/*tablet*/

@media(min-width: 768px) {}

/*Mobile phone*/

@media(max-width: 600px) {
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        overflow-y: auto;
        max-height: 200px;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -1000%;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .about .row {
        flex-wrap: wrap;
    }

    .hero .content {
        padding: 1rem;
        max-width: 100%;
    }

    .hero .content h1 {
        font-size: 20pt;
        color: white;
        text-shadow: 1px 1px 3px rgba(1, 1, 1, 3, 0.5);
    }

    .menu,
    .about {
        padding: 2rem;
    }

    #hamburger-menu {
        display: block;
    }


    /* Styling untuk halaman tips */
    .container {
        padding: 7rem 2rem;
    }

    .tips-content,
    .resep-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 2rem;
        border-radius: .5rem;
    }

    .tips-content img,
    .resep-content img {
        width: 100%;
        border-radius: .5rem;
    }


    /* pengetahuan dasar */
    .pd-content .menu-card img {
        width: 100%;
    }

    /* bahan masak */
    .bm-content .menu-card,
    .pda-content .menu-card {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin: 2rem 0;
    }

    .bm-content .menu-card img,
    .pda-content .menu-card img {
        width: 100%;
    }
}


/* Tempe Orek */





